.bg-container {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png");
  height: 100vh;
  padding-bottom: 20px;
  color: #ffffff;
}

.heading {
  text-align: center;
  font-family: "Roboto";
  height: 30px;

  background-color: #323f4b;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 50px;
}

.message-sent {
  background-color: #47a3f3;
  text-align: right;
  padding: 5px;
  margin: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.message-reieved {
  background-color: #52606d;
  text-align: left;
  padding: 5px;
  margin: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
